<header id="nav">
    <nav>
        <ul class="nav">
            <li><a href="index">Le château</a>
            </li><li><a href="">Les chambres d'hôte</a>
            </li><li><a href="">Le gite</a>
            </li><li><a href="">Les activités</a>
            </li><li><a href="">Organisation d'évènements</a>
            </li><li><a href="">Location</a>
            </li><li><a href="">Contact</a>
        </ul>
    </nav>
</header>