<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">
            <section id="main-title">
                <div id="main-logo"></div>
            </section>

            <%- include partials/footer.ejs %>

        </div>
    </body>
</html>