<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="welcome/style.css">
    <base href="/" />
</head> 
<html>
    <section>
        <div class="logo">
            <img style="height:45px; width: 120px;" src="http://admin.dailydinities.fr/img/header.png">
        </div>

        <div class="content">
            <p>Bonjour,</p>

            <p class="grey">Vous avez désormais accès à l'application 9h00, le plus bel écrin pour consulter vos données d'audiences.</p>

            <p class="grey">
                Visitez la page suivante pour créer votre compte et découvrir comment accéder à 9h00 :
                <a href="http://admin.dailydinities.fr/bienvenue/<%=id%>">http://admin.dailydinities.fr/bienvenue/</a>
            </p>

            <p class="grey">Si vous avez la moindre question sur nos applications, répondez simplement à ce message.</p>

            <p>A bientôt sur 9h00,<br>
                L'équipe de Daily d'initiés.</p>
        </div>

        <div class="footer">RDV sur <a href="http://app.9h00.fr">app.9h00.fr</a></div>
    </section>
</html>